scanner/opencv/native/staticlibs/**/* filter=lfs diff=lfs merge=lfs -text
scanner/opencv/native/libs/**/*  filter=lfs diff=lfs merge=lfs -text
scanner/opencv/native/3rdparty/libs/**/*  filter=lfs diff=lfs merge=lfs -text